body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main{
    height:70vh;
    width: 70vw;
    border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
}

body main div{

height: 100%;
    width: 100%;
    border: 1px solid black;
    font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
}
