:root {
  --bg-default: #11698e;
  --bg-success: #16c79a;
  --bg-dark: #19456b;
  --bg-light: #f8f1f1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main {
  height: 70vh;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  perspective: 1000px;
}

body main div {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-default);
  color: var(--bg-light);
  transform: rotateY(0deg);
  transition: transform 0.6s;
  cursor: pointer;
}

main .flipped {
  transform: rotateY(180deg);
  background-color: var(--bg-light);
}

#resetGame {
  padding: 1rem;
  border: none;
  margin-top: 20px;
  background-color: var(--bg-light);
  color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

#resetGame:hover {
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: 1px solid var(--bg-dark);
}
